* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid purple; */
}

a {
    text-decoration: none;
}

.background {
    background: url('photos/bg/bglar.png'), lightgray 50% / cover no-repeat;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 100%;
}


.nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 55px;
    align-items: center;
}

.nav .menubtn {

    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.nav .menu {
    display: flex;
    width: 50%;
    max-width: 90%;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
    list-style: none;
    color: #642C99;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
}


.nav .icon {
    width: 20%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
}


.page {
    width: 80%;
    margin: auto;
    /* margin: 50px auto; */
    text-align: center;
}

.subpage {
    width: 80%;
    margin: auto;
}


.page h1 {
    color: #642C99;
    text-align: center;
    font-family: Wendy One;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border: 2px solid black; */
}

.page h2 {
    width: 100%;
    /* border: 2px solid black; */
    color: #642C99;
    font-family: Wendy One;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page p {
    width: 95%;
    color: #642C99;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 56%;
    /* 144.444% */
    /* border: 2px solid black; */
}

.page3 p {
    width: 63%;
}


.page button {
    width: 206px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #642C99;
    color: #FBFAC9;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page .one {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 60%;
    /* border: 2px solid black; */
}


.title_small {
    opacity: 0;
    position: absolute;
}

.circle {
    margin: auto;
    /* /* height: 800px; */
    /* width: 800px; */

    width: 85%;
    /* height: 100%; */
    border-radius: 50%;
    background-color: rgb(255, 234, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.circle img {
    position: relative;
    bottom: 50px;
}

.page2 .content {
    width: 70%;
    margin: auto;
    /* border: 2px solid red; */
}

.page1 .two {
    width: 100%;
    position: relative;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}


/* .page1 .two .img{
    position: absolute;
} */

.page1 img {
    position: absolute;
    /* right: 0;
    bottom: 120px; */
}

.page1 .img2 {
    /* top:-100px; */
    right: 5em;
    bottom: -20em;

}

.page1 .img1 {
    left: 5em;
    top: -10em;

}

.page2 .content {
    position: relative;
}


.bytes {
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    /* border: 2px solid red; */
}

.page2 .cards {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.cards .bytes {
    width: 33%;
    position: relative;
}

.abs1 {
    bottom: 250px;
    left: 40px;
    /* border: 2px solid rebeccapurple; */
}

.abs2 {
    right: 60px;
    bottom: 30px;
}

.abs3 {
    bottom: 150px;
}

.cards .bytes{
    left: 120px;
}



.footer {
    width: 80%;
    margin: auto;
    display: flex;
    /* background-color: #642C99; */
    justify-content: flex-start;
    /* border: 2px solid blue; */
    padding: 70px 0;
    /* flex-direction: column; */
    /* gap: 20%; */
    /* border: 2px solid red; */
}


.footer .two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    width: 100%;
}

.footer .two .up {
    /* border: 2px solid green; */
    width: 60%;
    display: flex;
    margin-left: auto;
    gap: 20%;
}

.footer .two .down {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer .two .down ul {
    width: 100%;
}

.footer .down li {
    width: 25%;
    /* width: 25%; */
}

.footer .title {
    position: relative;
    bottom: 230px;
}

.footer .two .up .list {
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    gap: 40px;
}

.footer .two .down ul {
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
    list-style: none;
    gap: 20px;
}

.footer .list {
    width: 30%;
}

.footer h4 {
    color: #fdefd1;
    font-family: Wendy One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer .inp {
    display: flex;
    gap: 20px;
}

.footer ul li,
.footer .input {
    color: #fdefd1;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    width: 100%;
    text-align: left;
    /* 166.667% */
}

.footer button {
    border-radius: 8px;
    background: #fdefd1;
    color: #642c99;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 30%;
}

.footer input {
    width: 70%;
    height: 50px;
    background-color: #642c99;
    color: #fdefd1;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    border-radius: 8px;
    border: 2px solid #fdefd1;
    /* 187.5% */
}


.footer_page {
    width: 100%;
    /* background-color: #642C99; */
}

@media screen and (max-width:1400px) {


    .background {
        background: url('photos/bg/bg_tab.jpg'), lightgray 50% / cover no-repeat;
        /* object-fit:scale-down; */
        /* background-repeat: repeat; */
        /* object-fit: contain; */
        width: 100%;
        gap: 200px;
        /* border: 30px solid red; */
    }


    .nav {
        width: 95%;
        margin: auto;
        /* height: ; */
    }

    .nav .menu{
        width: 70%;
    }

    .page {
        width: 90%;
        /* border: 2px solid blue; */
    }

    .page .one {
        width: 100%;
    }

    .page h1 {
        font-size: 100px;
        width: 100%;
    }

    .page p {
        width: 80%;
    }

    .page .one {
        /* border: 2px solid brown; */
        width: 80%;
        gap: 70px;
    }

    .page1 .img2 {
        /* top:-100px; */
        right: -5em;
        top: 0em;
    }

    .page1 .img1 {
        left: -2em;
        bottom: -8em;
    }

    .page1 .two {
        width: 90%;
    }

    .page2 .content {
        width: 50%;
    }

    .circle {
        width: 100%;
        /* height: 350px; */
        /* height: 300px; */
        margin: auto;
        gap: 20px;
    }

    .circle img {
        width: 50%;
    }

    .bytes {
        width: 250px;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    .bytes img {
        width: 40%;
    }

    .bytes p {
        width: 100%;
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
    }

    .cards .bytes{
        left: 10px;
    }

    .page1 .two {
        width: 70%;
    }


    .page1 .two img {
        width: 20%;
    }

    .page1 .img1 {

        top: -2em;
        /* left: ; */
    }

    .page2 .circle img {
        position: relative;
        bottom: 70px;
    }


    .footer {
        /* align-items: flex-end;/ */
        padding: 50px 0;
        width: 80%;
        /* padding-bottom: 0; */
        /* padding: 0; */
        /* padding-top: 200px; */
    }

    .footer .title {
        position: static;
    }

    .footer .two {
        flex-direction: row-reverse;

    }

    .footer .two .up {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: flex-start;
        text-align: left;
    }

    .footer .down {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .footer .two .down ul {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer .down li {
        width: 100%;
        text-align: left;
    }

    .footer_page {
        width: 100%;
    }

    .footer h4{
        text-align: left;
    }



}




@media screen and (max-width:700px) {

    .background {
        background: url('photos/bg/bgsmall.png'), lightgray 50% / cover no-repeat;
        width: 100%;
        gap: 100px;
        /* gap: 0; */
        /* border: 30px solid red; */
    }

    .subpage {
        width: 100%;
        padding: 30px 0;
    }

    .nav {
        height: 100px;
        width: 90%;
        margin: auto;
        padding: 0;
    }

    .nav .menubtn {
        display: flex;
        align-items: center;
        position: static;
        opacity: 1;
    }

    .nav .menu {
        position: absolute;
        opacity: 0;
        
    }

    .page .one {
        width: 100%;
    }

    .page h1 {
        color: #642C99;
        font-family: Wendy One;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .page1{
        display: flex;
        flex-direction: column;
    }

    .page1 .two{
        height: 40px;
    }

    .page1 {
        gap: 70px;
    }

    .page .one{
        gap: 40px;
    }

    .page2 {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .page2 .content {
        width: 100%;
    }

    .page2 .cards {
        display: flex;
        flex-direction: column;
        gap: 50px;

    }

    .cards .bytes {
        width: 100%;
        position: static;
        gap: 30px;
        align-items: center;
    }

    .page2 .circle img {
        position: relative;
        bottom: 30px;
    }

    .bytes p {
        text-align: center;
    }

    .bytes img{
        width: 30%;
    }



    .footer {
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }


    .footer .title {
        opacity: 0;
        position: absolute;
    }

    .footer .title_small {
        position: static;
        opacity: 1;
        color: #fbfac9;
        /* border:2px solid white; */
    }

    .footer .two {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }

    .footer .two .up {
        width: 100%;
    }

    .footer .two .up .list {
        gap: 30px;
    }

    .page1 .two {
        width: 40%;
        /* border: 2px solid green; */
    }

    .page1 .two img {
        /* border: 2px solid blue; */
        width: 40%;
    }

    .page1 .two .img2 {
        /* top: -6em; */
    }

    .page1 .two .img1 {
        /* top: 2em; */
        left: -4em;
    }
}